.ForecastCol{
  padding-top: 6px;
  background-color: rgba(0, 0, 0, 0.227);
  position: relative;
}

.swellCat {
  z-index: 1; /* Set to a lower z-index but above background */
}


.vertical-text {
  text-orientation: upright; /* Keep letters upright */
}

.vertical-text .letter {
  margin: -4px 0; /* Reduce spacing between letters */
  z-index: -1;
}

.degrees{
  font-size: 10px;
}

.waveCalc, .swellCalc, .time, .windSpeed, .time, .swell{
  font-size: 14px;
}

.feet, .mph, .windDirection, .seconds, .swellDirection{
  font-size: 9px;
}

.title, .pointDirection{
  font-size: 10px;
}

.pointDirection{
  color: white;
}