html{
  background-color: black;
}

body {
  background-color: black; /* Change the background color of the entire screen */
  margin: 0;
  height: 100vh;
}

.multiday-container{
  padding-bottom: 30px;
}

.graph-container {
  background-color: black;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
  padding-top: 30px; 
}
